<mat-card class="cart-card">
    <h2>Kosár</h2>
    <mat-divider></mat-divider>

    <form [formGroup]="cartForm">
        @for (kosarAdat of kosarData; track $index) {
        <div class="cart-item">
            <div class="item-details">
                <h3>{{ kosarAdat.nev }}</h3>
                <mat-form-field appearance="fill" class="mennyiseg-input">
                    <mat-label>Mennyiség</mat-label>
                    <input (change)="onQuantityChange(kosarAdat)" matInput type="number" min="0"
                        [formControlName]="'mennyiseg_' + kosarAdat.id">
                </mat-form-field>
                <p>Ár: {{ (kosarAdat.ar * (cartForm?.get('mennyiseg_' + kosarAdat.id)?.value || kosarAdat.mennyiseg)) |
                    forint }}</p>
            </div>
            <button mat-flat-button color="warn" (click)="removeItem(kosarAdat)" class="remove-button">Törlés</button>
        </div>
        }
    </form>
    <mat-divider></mat-divider>

    <div class="cart-summary">
        <h3>Végösszeg:</h3>
        <p>
            {{totalPrice | forint}}
        </p>
        <button mat-raised-button color="primary" class="checkout-button">Fizetés</button>
    </div>
</mat-card>