<div class="felhasznalo-container">
  <h2>Felhasználói adatok</h2>
  <mat-divider></mat-divider>

  
    <div class="felhasznalo-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ felhasznalo.nev }}</mat-card-title>
          <mat-card-subtitle>{{ felhasznalo.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Cím:</strong> {{ felhasznalo.cim }}</p>
          <p><strong>Telefonszám:</strong> {{ felhasznalo.telefonSzam }}</p>
          <p><strong>Születési dátum:</strong> {{ felhasznalo.szulDatum || 'Nincs megadva' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  
</div>
