.mat-drawer-container {
  height: 100%;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
}

.sidenav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toggle-icon:hover {
  cursor: pointer;
  background-color: #8494a5;
}
